<h2>Paid Transactions</h2>
<table border="1">
  <tr><th>Student</th><th>Class</th><th>Fee Type</th><th>Amount</th><th>Paid On</th></tr>
  <% paidFees.forEach(f => { %>
    <tr>
      <td><%= f.student.name %></td>
      <td><%= f.classId.className %></td>
      <td><%= f.feeType.name %></td>
      <td>₹<%= f.feeType.amount %></td>
      <td><%= f.paidAt.toDateString() %></td>
    </tr>
  <% }) %>
</table>